<div class="container">
  <h1><i class="fa fa-space-shuttle fa-fw"></i>&nbsp; The Planets</h1>
  <br>
  <p>
    This simulated view of our solar system as shown below runs on real data
    provided by <a href="https://eyes.nasa.gov/">NASA's Eyes on the Solar System</a>. 
    The position of the planets, moons and spacecraft are shown where they are right now!
  </p>
  <br>
  <iframe src="https://eyes.nasa.gov/apps/orrery/#/home" title="NASA's Eyes on the Solar System ">
  </iframe>
  <br>
  <br>
  <br>
  <p>
    Select one of the planets to search more info from NASA!:
    <select id="planet-select" onchange="searchNASA()">
      <!-- <option disabled selected value>-</option> -->
      <option value="PIA11800">Planets</option>
      <option value="PIA15164">Mercury</option>
      <option value="PIA00270">Venus</option>
      <option value="PIA18033">Earth</option>
      <option value="PIA04591">Mars</option>
      <option value="PIA00343">Jupiter</option>
      <option value="PIA00349">Saturn</option>
      <option value="PIA18182">Uranus</option>
      <option value="PIA01492">Neptune</option>
    </select>
  </p>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="picture">
        <div id="planet-image"></div>
      </div>
      <div class="col-md-6" id="description">
        <div id="Planets" class="desc">
          <h2><i class="fa fa-info-circle fa-fw"></i>&nbsp; Overview</h2>
          <p>
            Our solar system features eight planets, seen in this artist’s 
            diagram. This representation is intentionally fanciful, as the 
            planets are depicted far closer together than they really are.
          </p>
          <p>
            The inner, rocky planets are Mercury, Venus, Earth and Mars. 
            The outer planets are gas giants Jupiter and Saturn and ice giants
             Uranus and Neptune. Beyond Neptune, a newer class of smaller 
             worlds called dwarf planets reign, including longtime favorite 
             Pluto. 
          </p>
          <p>
            Thousands more planets have been discovered beyond our solar system. 
            Scientists call them exoplanets (exo means "from outside.")
          </p>
        </div>
        <div id="Mercury" class="desc">
          <h2><i class="fa fa-mercury fa-fw"></i>&nbsp; Mercury</h2>
          <p>
            Mercury, a rocky planet, is a terrestrial planet that spins slowly
            on its axis. It is the smallest and closest planet to the Sun but
            not the hottest planet in the Solar System. Mercury's thin
            atmosphere is composed of oxygen, sodium, helium, hydrogen, and
            potassium, which is unbreathable.
          </p>
        </div>
        <div id="Venus" class="desc">
          <h2><i class="fa fa-venus fa-fw"></i>&nbsp; Venus</h2>
          <p>
            Venus, the terrestrial planet, is the 2nd closest planet to the sun.
            It spins slowly in the opposite direction. Its structure and size
            are similar to Earth. The atmosphere of Venus is known to be dense
            and toxic, which makes Venus the hottest planet in the Solar System.
          </p>
        </div>
        <div id="Earth" class="desc">
          <h2>⊕&nbsp; Earth</h2>
          <p>
            Earth, a rocky terrestrial planet, is the 3rd solar planet from the
            sun. It is only the planet having an atmosphere containing free
            oxygen, oceans of water, which is perfect place for life! Earth
            completes one spin for 24 hours.
          </p>
        </div>
        <div id="Mars" class="desc">
          <h2><i class="fa fa-mars fa-fw"></i>&nbsp; Mars</h2>
          <p>
            Mars, the Red Planet, is the 4th planet from the Sun. Mars is one of
            the most explored planets in the Solar System in the belief that the
            planet is potentially habitable due to many reasons: Its surface
            consists of water and oxygen, the temperature is not too hot or too
            cold, there is enough sunlight, and the gravity is sufficient for
            human body to adapt to. However, it is still a tough place for life
            as the atmosphere is made up of carbon dioxide, argon, nitrogen.
          </p>
        </div>
        <div id="Jupiter" class="desc">
          <h2>♃&nbsp; Jupiter</h2>
          <p>
            Jupiter, a gas giant planet, is the 5th planet from the sun and the
            largest in the Solar system. Jupiter's Great Red Spot is a gigantic
            torm that’s about twice the size of Earth and has raged for over a
            century. Its atmosphere is made mostly of helium and hydrogen, which
            does not support life.
          </p>
        </div>
        <div id="Saturn" class="desc">
          <h2>♄&nbsp; Saturn</h2>
          <p>
            Saturn, a gas giant planet with ring system, is a 2nd-largest planet
            and the 6th planet from the sun. Similarly to Jupiter, Saturn
            atmosphere is made up of helium and hydrogen, while its rings are
            made of moon dust, rocks and water ice. These conditions of Saturn
            makes it a lifeless behemoth.
          </p>
        </div>
        <div id="Uranus" class="desc">
          <h2>⛢&nbsp; Uranus</h2>
          <p>
            Uranus, the ringed, icy gaseous giant planet, is the 7th planet from
            the sun. Like Venus, Uranus rotates in the opposite direction to
            other planets. But Uranus is unique in that it rotates on its side!
            Uranus's atmosphere is made up of hydrogen and helium, with a small
            amount of methane, which cannot support life.
          </p>
        </div>
        <div id="Neptune" class="desc">
          <h2>♆&nbsp; Neptune</h2>
          <p>
            Neptune, a blue ice giant planet, is the 8th planet from the sun and
            the 4th-lagest planet. Like Uranus, its atmosphere is made up of
            hydrogen and helium, with a small amount of methane. It is dark,
            cold and vey windy.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <h4> Ready for the quiz? Click 
    <button class="start-quiz" onclick="window.location='/quiz?questionsetID=3';">here</button>
    to start!</h4>
    
    <h2>References</h2>
    <ol>
      <li>NASA - Find further information</li>
    </ol>
  </div>
</div>
