<div class="container">
<h1><i class="fa fa-space-shuttle fa-fw"></i>&nbsp; Satellites</h1>
<br>
<p>
  When we say “satellite”, it generally refers to two things: 
  natural satellites and artificial (man-made) satellites. 
  These satellites are known to orbits a planet or a star [1]. 
  We will briefly go through both in this section.
</p>
<br>
<img class='center-block' style="width: 70%;" src="{{ url_for('static', filename='img/satellites.jpg') }}" alt="The Sun" />
<br>

<div class="sat-tabs">
  <input type="radio" name="tabs" id="tab1" checked="checked">
  <label style="margin-left:2em;" for="tab1">Natural Satellites</label>
  <div class="tab">
    <h2>Natural Satellites</h2>
  <p>
    A natural satellite is a moon, a planet, or an astronomical 
    body that orbits a larger planet or star [1]. These astronomical 
    bodies are held in orbit by the gravitation of a larger star 
    and the centripetal force. For example, Earth is a satellite 
    because it is attracted to the Sun and stays in its orbit. 
    Similarly, the Moon is a satellite because it kept in orbit by 
    the gravitational pull from the Earth.
  </p>
  <p>
    The Solar System’s planets, and its most likely dwarf planets, 
    are known to be orbited by at least 218 natural satellites or 
    moons [2]. The biggest moons in the Solar System are Earth’s 
    moon, Jupiter’s Galilean moons (Io, Europa, Ganymede, and 
    Callisto), Saturn’s moon Titan, and Neptune’s captured moon 
    Triton [3]. Notice that most moons in our solar system are 
    actually named after mythological characters from a wide variety 
    of cultures and literature!
  </p>
    
  </div>
  
  <input type="radio" name="tabs" id="tab2">
  <label for="tab2">The Moon</label>
  <div class="tab">
    <h3>The Moon</h3>
  <p>
    The most important moon (for us) is the Earth’s moon. It is 
    Earth’s only natural satellite and the largest moon in the 
    Solar System relative to the size of its planet [4]. The 
    Moon’s cycle is about 27.3 days [3]. At different times of 
    the months, different parts of the Moon reflect the light 
    of the Sun, changing its appearance from Earth. The change 
    of view from Earth is also called the lunar phase. 
  </p>
  <p>
    The primary effects the Moon have on Earth are tidal effects. 
    The effects are caused by the slightly greater gravitational 
    force the Moon has for the side of Earth closest to it. This 
    results in elevated sea levels called ocean tides, where one 
    of the ocean bulges (high tide) is held in place closest to 
    the Moon, while another such tide (low tide) is opposite [4].
  </p>
  <p>
    You might already know that Neil Armstrong became the first 
    person to walk on the Moon under the Apollo 11 mission. After 
    that, many more exploration programs have been initiated, 
    mostly for exploring or mining some rare elements [4]. 
  </p>
  <p>
    After many years of exploration and experiments, one might ask, 
    “Can we actually live on the Moon?” Well, the short answer is 
    yes! During Apollo 17 mission, astronauts have stayed for days 
    on the Moon [4]. The key idea is to cover the basic human needs, 
    which are air, water, food, and shelter. So, the first task is 
    to make breathable air. As the lunar soil consists of 42% oxygen, 
    this can be done easily by using robots to harvest oxygen on the 
    surface. With that in mind, NASA has already developed and field-
    tested prototype robots on Earth capable of doing such task [5].
  </p>
  <p>
    Next on the list is water, which can be compounded from 2/3 
    hydrogen and 1/3 oxygen. Although we have plenty of oxygen, we 
    unfortunately lack hydrogen. At present, the only option is to 
    ship liquid hydrogen from Earth to the Moon. However, each trip 
    to space is very expensive, so it is possible but not cost-
    effective [5].
  </p>
  <p>
    Although we have breathable air and water, astronauts could only 
    last for a few days as the surface of the Moon consists of lunar 
    dust and lots of toxic compounds [4]. The contamination, in turn, 
    poses a danger to health and damages crops. In addition, setting 
    up a permanent camp on the Moon is difficult and much more 
    expensive than sending astronauts there. These challenges already 
    omitted two out of four basic human needs and hence stop us from 
    having a settlement on the Moon.
  </p>
    
  </div>
  
  <input type="radio" name="tabs" id="tab3">
  <label for="tab3">Solar Radiation</label>
  <div class="tab">
    <h2>Artificial Satellites</h2>
  <p>
    Usually, the word "satellite" refers to a man-made machine that 
    is launched into space and orbit around Earth or another body in 
    space [1]. Since Sputnik 1 was successfully launched Earth on 4 
    October 1957, thousands of satellites from more than 40 countries 
    have been launched for various purposes [6]. The main applications 
    for of these satellites include [6]:
  </p>
  <ul>
    <li>Earth observation</li>
    <li>Space exploration</li>
    <li>Communication satellite</li>
    <li>Television satellite</li>
    <li>Navigation satellite</li>
    <li>Space tourism</li>
    <li>Protecting Earth from potentially hazardous objects</li>
    <li>Space colonisation</li>
  </ul>
  <p>
    In everyday life, we probably notice many benefits of these 
    satellites. For example, the Earth observations satellites usually 
    take real-time pictures of the planet, which allows prediction of 
    weather and track natural disasters such as hurricanes [1]. 
    Communication and televisions satellites also employed to send TV 
    and phone signal instantly across different locations on Earth, 
    allowing a smooth communication no matter where you are [6].  
  </p>
    
  </div>
</div>










<div class="container">
  <br>
    <h4> Ready for the quiz? Click 
    <button class="start-quiz" onclick="window.location='/quiz?questionsetID=3';">here</button>
    to start!</h4>
  <h2>References</h2>
  <ol>
    <li>D. Stillman. “What is a Satellite?” NASA.gov. https://www.nasa.gov/audience/forstudents/5-8/features/nasa-knows/what-is-a-satellite-58.html (accessed May 7, 2021).</li>
    <li>Wikipedia. “List of natural satellites”. Wikipedia.com. https://en.wikipedia.org/wiki/List_of_natural_satellites (accessed May 7, 2021).</li>
    <li>Kiddle Encyclopedia. “Natural satellite Facts for Kids”. Kids.Kiddle.co. https://kids.kiddle.co/Natural_satellite (accessed May 7, 2021).</li>
    <li>Wikipedia. “Moon”. Wikipedia.com. https://en.wikipedia.org/wiki/Moon (accessed May 7, 2021).</li>
    <li>Institute of Physics. “How could we live on the Moon?” IOP.org. https://www.iop.org/explore-physics/moon/how-could-we-live-on-the-moon (accessed May 7, 2021).</li>
    <li>Wikipedia. “Satellite”. Wikipedia.com. https://en.wikipedia.org/wiki/Satellite (accessed May 7, 2021).</li>
  </ol>
</div>
</div>