<div class="container">
<h1><i class="fa fa-sun-o fa-fw"></i>&nbsp; The Sun</h1>
<br>
<img style="width: 100%;" src="{{ url_for('static', filename='img/thesun.jpg') }}" alt="The Sun" />
<br>
<div class="tabs">
  <input type="radio" name="tabs" id="tab1" checked="checked">
  <label id="sun-tab" style="margin-left:2em;" for="tab1">Characteristics</label>
  <div class="tab">
    <h2>Characteristics</h2>
    <p>
      The Sun, a yellow dwarf star, is one of more than 100 billion 
      stars in the Milky Way. Though massive, it is still considered 
      a “dwarf” as compared to other types of stars [1]. It is the 
      heart of the Solar System and its gravity keeps every planet and 
      particle in orbit. Its shape is a nearly perfect sphere, comprising 
      about 99.8% of the Solar System’s mass, with diameter roughly 109 
      times that of Earth [1]. To put it simply, if the Sun were as tall 
      as a typical front door, Earth would be about the size of a nickel!
    </p>
    <p>
      Three-quarters of the Sun's mass, consisting of about 92.1% hydrogen 
      and 7.8% [1], which typically makes it a ball of gas. Hot plasma in 
      its core is heated to incandescence by nuclear fusion reactions, 
      providing heat, light, and ionization, and through the continuous 
      outflow of a magnetized, supersonic ionised gas known as the solar 
      wind [1].
</p>
  </div>
  
  <input type="radio" name="tabs" id="tab2">
  <label id="sun-tab" for="tab2">Space Weather</label>
  <div class="tab">
    <h2>Space Weather</h2>
    <p>
      The term “space weather” refers to the outer space environment 
      affected by light and electrically charged particles and magnetic 
      fields of the Sun. This includes solar events such as solar flares, 
      coronal mass ejections, and solar wind [2]. 
    </p>
    <p>
      An outward burst of plasma we see on the Sun’s surface is called 
      solar flares, whereas high-speed streams coming from the coronal 
      holes is solar wind [2]. These solar events usually affect Earth 
      when the flare or wind cloud is aimed at Earth. The well-known 
      impacts are the disruption of telegraph service in 1859 and the 
      collapse of the Hydro-Québec power network in 1989 [2]. This makes 
      forecasting space whether important.
    </p>
    <p>
      Other than that, Auroras are a notorious example of the impacts of 
      space weather events, which occur most frequently during the most 
      intense phase of the 11-year solar or sunspot cycle [2].
    </p>
  </div>
  
  <input type="radio" name="tabs" id="tab3">
  <label id="sun-tab" for="tab3">Solar Radiation</label>
  <div class="tab">
    <h2>Solar Radiation and its Impact</h2>
    <p>
      The Sun is the energy source for life on Earth and is the essential 
      modulator of the human physical environment as we know it. It is 
      also a source of the full spectrum of ultraviolet radiation, UVA, 
      UVB, and UVC [2] . All types of UV radiation are dangerous and can 
      cause sun burn, skin damage and skin cancer. While UVC and UVB are 
      the most dangerous, Ozone absorbs all UVC and most of UVB from 
      reaching the Earth’s surface [3].
    </p>
    <p>
      At this point, one might asks, “Do astronauts need sunscreen or 
      extra protections in space?” The answer is they do need extra 
      protections. But sunscreen? Not so much. In addition to skin damage, 
      overexposure to ultraviolet light can cause “snow blindness” and 
      other optic conditions, which might lead to temporary blindness [4]. 
      With so much unfiltered UV radiation, all spacesuits and spaceships 
      are designed to protect astronauts from it. For instance, the suits 
      are made of heavy fabrics with ultraviolet-stabilised plastic see-
      through helmets, and the space vessels’ windows are UV-blocked. 
      Therefore, sunscreen is not really necessary.
    </p>
  </div>
</div>

<div class="container">
  <br>
  <h4> Ready for the quiz? Click 
  <button class="start-quiz" onclick="window.location='/quiz?questionsetID=3';">here</button>
  to start!</h4>
  <h2>References</h2>
  <ol>
    <li>NASA Solar System Exploration. “Sun” NASA.gov. https://solarsystem.nasa.gov/solar-system/sun/overview/ (accessed May 8, 2021)</li>
    <li>NASA. “Solar Storm and Solar Weather” NASA.gov. https://www.nasa.gov/mission_pages/sunearth/spaceweather/index.html (accessed May 8, 2021)</li>
    <li>NASA Science. “Ultraviolet Waves” NASA.gov. https://science.nasa.gov/ems/10_ultravioletwaves (accessed May 8, 2021)</li>
    <li>Cancer Council. “UV Index” Cancer.org.au. https://www.cancer.org.au/cancer-information/causes-and-prevention/sun-safety/uv-index (accessed May 8, 2021)</li>
    <li>M. Mancini. “Do Astronauts Need Sunscreen in Space?” HowStuffWorks.com. https://science.howstuffworks.com/do-astronauts-need-sunscreen-in-space.htm (accessed May 8, 2021)</li>
  </ol>
</div>
</div>