<h1>The Vacuum of Space</h1>
<p>
  First of all, let's get rid of a misconception. 
  When you think of a vacuum, one generally thinks 
  of something absolute empty with a lack of air. 
  However, there really isn't such a thing as a perfectly 
  empty space. One fun way to find out is to try sucking 
  all the air out of an empty bottle. Even though you 
  think you could do it perfectly, you could still never 
  get it empty. There would still be things like vacuum 
  energy, gravity, and dark matter, which can't be sucked 
  out [1], [2]. 
</p>
<p>
  The same idea applies to the outer space (the space outside 
  the atmosphere of planets and stars). When we say the outer 
  space is a vacuum or is empty, we actually mean that outer 
  space is nearly empty or almost a perfect vacuum. In reality, 
  the space is full of cosmic voids, which are filled with gas, 
  dust, particles, cosmic rays, radiation, gravity, 
  electromagnetic fields, dark matter, and dark energy. Even 
  in the interstellar space, there are still a few hydrogen 
  atoms in every cubic meter [1], [3].
</p>
<p>
  So, what is the vacuum of space? By definition, a vacuum is a 
  space entirely devoid of matter, in which matter has been 
  partially removed so that the space exerts less pressure than 
  the atmosphere [4].
</p>
<p>
  What causes the outer space to be nearly vacuum? Well, the 
  short answer is that the gravity causes it [1]. Every particle 
  of matter, no matter how small, exerts a gravitational attraction 
  on all other particles of matter. Starting from countless gas 
  atoms, even though the gravitational force is weak, they will 
  pull on each other and form into stars. Under the gravitational 
  force, the gas atoms of these stars were fused to form the 
  heavier elements, condensed to form small clouds and rocks, and 
  eventually formed into asteroids, moons, and planets [1]. The 
  outer space is nearly empty because most of the matter has 
  congregated into an asteroid, planet, moon, or star. This emptiness 
  results in an extremely low density and pressure, which creates 
  the nearly perfect vacuum in space [1], [2].
</p>
<p>
  Another misconception is that unprotected exposure to the vacuum of 
  space leads to instantaneous death. In reality, people are likely 
  to survive for a couple of minutes with a few ill effects [2], [4], 
  [5]. However, long-time exposure to the vacuum of space is still 
  ethal, where the primary cause of death is the sudden decompression 
  in the vacuum [6]. Under extremely low pressure, the expansion of 
  air in a person's lungs is likely to cause lung rupture and death 
  unless that air is immediately exhaled [5]. So, if you are thinking 
  about holding your breath or inhaling deeply when the pressure 
  drops, don't do it!
</p>
<p>
  Decompression can also lead to a fatal condition known as ebullism, 
  where all liquid in people's body is vaporised [5]. At the minimum, 
  ebullism will cause gross swelling and bruising; at worst, it is 
  likely to cause blockage in a blood vessel [6]. 
</p>
<p>
  Another factor that affects the amount of time a human could survive 
  in a full vacuum is an oxygen supply [6]. Knowing that we shouldn't 
  hold our breath, the remaining oxygen will also diffuse out of the 
  bloodstream when the lungs are exposed to a vacuum. This leads to a 
  condition called hypoxia, or oxygen deprivation [6]. Within 15 
  seconds, deoxygenated blood begins to be delivered to the brain, 
  which results in unconsciousness. Experimental results and training 
  accidents suggest that an individual could survive for a few minutes 
  in a vacuum while unconscious, but not much longer [6].
</p>
<p>
  So, when it comes to exposure to the interstellar medium, you could 
  manage to survive at least for a couple of minutes, albeit very 
  uncomfortable. This is why spacewalks are usually done with two or 
  more spacewalkers, and continuous communication is essential. If 
  someone is having a problem, it is best to quickly send the message 
  and get back to the station [5].
</p>

<button class="quiz-button" onclick="window.location='/quiz?questionsetID=2';">
  Quiz!
</button>

<div>
  <h2>References</h2>
  <ol>
    <li>C. S. Baird. “How does the expansion of the universe make outer space a vacuum?” WTAMU.edu. https://wtamu.edu/~cbaird/sq/2013/10/08/how-does-the-expansion-of-the-universe-make-outer-space-a-vacuum (accessed May 7, 2021).</li>
    <li>J. Strickler. “What is the vacuum of space?” ZMEScience.com. https://www.zmescience.com/other/feature-post/what-is-the-vacuum-of-space (accessed May 7, 2021).</li>
    <li>C. S. Baird. “What keeps space empty?” WTAMU.edu. https://wtamu.edu/~cbaird/sq/2012/12/20/what-keeps-space-empty (accessed May 7, 2021).</li>
    <li>D. Coffey. “Why is space a vacuum” LiveScience.com. https://www.livescience.com/why-is-space-a-vacuum.html (accessed May 7, 2021).</li>
    <li>A. Gosline. “Survival in Space Unprotected Is Possible—Briefly” ScientificAmerican.com. https://www.scientificamerican.com/article/survival-in-space-unprotected-possible (accessed May 7, 2021).</li>
    <li>M. Springel. “The human body in space: Distinguishing fact from fiction”. https://sitn.hms.harvard.edu/flash/2013/space-human-body (accessed May 7, 2021).</li>
  </ol>
</div>