/* 
* This style sheet is used by all pages for consistency.
* Media rule for small/medium device also included 
*/

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: azure;
    padding-bottom: 60px;
    margin-bottom: 100px;
}

/*---------------- Enable smooth scrolling -----------*/
html {
    scroll-behavior: smooth;
  }


/*---------------- Navigation bar style --------------*/
.navbar {
    font-family: 'Audiowide', cursive;
    background-color: black;
    border-color: black;
    top: 0;
}

.nav a {
    font-size: 1.2em !important;
}

/*----------------- Carousel style -------------------*/
.carousel-inner img {
    width: 100%;
    margin: auto;
}

.carousel .item {
    height: 530px;
}

.item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    object-fit: contain;
}
  
.carousel-caption h3 {
    color: azure !important;
}
  
@media (max-width: 530px) {
    .carousel-caption {
      display: none; /* hide caption for small screen*/
    }
}

/*----------------- Login and Register ----------------*/

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12.5%;
  }


.login-button {
    background-color: #3700b3;
    height: 50px; 
    width: 100%;
    border: 1px solid;
    border-color: black;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

.register-button {
    background-color: #cf6679;
    height: 50px; 
    width: 100%;
    border: 1px solid;
    border-color: black;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 290px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    color: black;
    padding-left: 25px;
    background-color: #ffffff;
    border-radius: 12px;
}

.login-container a {
    text-decoration: none;
}

.signin-button {
    background-color: #121212;
    height: 50px; 
    width: 100%;
    border: 1px solid;
    border-color: #ffffff;
    color: azure;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

.register-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 330px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    color: black;
    padding-left: 25px;
    background-color: #ffffff;
    border-radius: 12px;
}

.register-container a {
    text-decoration: none;
}

/*------------ Learning Modules -------------*/

.module-button {
    height: 100px; 
    width: 100%;
    border: 1px solid;
    border-color: black;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

button[id='The Vacuum of Space'] {
    background-color: #3700b3;
}

button[id='The Planets'] {
    background-color: #bb86fc;
}

button[id='Satellites'] {
    background-color: #03dac6;
}

button[id='The Sun'] {
    background-color: #cf6679;
}


/*--------- Module: The Planets ---------*/

.planet-image {
    /* width: 100%; */
    height: 300px;
}

#planet-select {
    color: black;
}


.desc {
    display: none;
}

iframe {
    margin-top: 50px;
    width: 100%;
    height: 700px;
    border-color: black;
}
​

/*--------- Module: The Sun ---------*/

.clear {
    clear: both;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
}
.tabs label {
    text-align: center;
	order: 1;
    width: auto;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
    background: #cf6679;
    font-weight: bold;
    word-wrap: normal;
    width: calc(90% * 1 / 3);
}
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
	display: none;
    padding: 1rem;
    background: black;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: black;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

/*------------- Quiz buttons ----------- */



.quiz-button {
    height: 75px;
    width: 150px;
    border: 1px solid;
    word-wrap: normal;
    margin: 5px;
    padding: 5px;
    color: black;
}

/* Form style */
form {
    color: grey;
}

/* quiz style */

.qBtn {
    color: black;
}

.submitQ {
    color: black;
}

/*----------------- Footer style ------------------ */

footer {
    position: fixed;
    font-size: 11px;
    background: black;
    color:grey;
    padding: 3rem 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
  }

