/* 
* This style sheet is used by all pages for consistency.
* 
*/

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: azure;
    padding-bottom: 60px;
    margin-bottom: 100px;
}

/*---------------- Enable smooth scrolling -----------*/
html {
    scroll-behavior: smooth;
  }


/*---------------- Navigation bar style --------------*/
.navbar {
    font-family: 'Audiowide', cursive;
    background-color: black;
    border-color: black;
    top: 0;
}

.nav a {
    font-size: 1.2em !important;
}

/*----------------- Carousel style -------------------*/
.carousel-inner img {
    width: 100%;
    margin: auto;
}

.carousel .item {
    height: 530px;
}

.item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    object-fit: contain;
}
  
.carousel-caption h3 {
    color: azure !important;
}
  
@media (max-width: 530px) {
    .carousel-caption {
      display: none; /* hide caption for small screen*/
    }
}

/*----------------- Login and Register ----------------*/

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12.5%;
  }


.login-button {
    background-color: #3700b3;
    height: 50px; 
    width: 100%;
    border: 1px solid;
    border-color: black;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
    filter: brightness(1);
}

.register-button {
    background-color: #cf6679;
    height: 50px; 
    width: 100%;
    border: 1px solid;
    border-color: black;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
    filter: brightness(1);
}

.login-button:hover{
    filter: brightness(0.5);
}

.register-button:hover{
    filter: brightness(0.5);
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 290px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    color: black;
    padding-left: 25px;
    background-color: #ffffff;
    border-radius: 12px;
}

.login-container a {
    text-decoration: none;
}

.signin-button {
    background-color: #121212;
    height: 50px; 
    width: 100%;
    border: 1px solid;
    border-color: #ffffff;
    color: azure;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

.register-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 330px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    color: black;
    padding-left: 25px;
    background-color: #ffffff;
    border-radius: 12px;
}

.register-container a {
    text-decoration: none;
}

/*------------ Learning Modules -------------*/

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
}

.progress-bar-max {
    display: block;
    background-color: transparent;
    height: 9px;
    width: 100%; /* max at 100% */
}
  
.progress-bar-scroll {
    display: block;
    background-color: #408697;
    background-image: linear-gradient(to right, #d83030 0%,
                                                #d8b930 50vw,
                                                #6ec923 100vw); 
    height: inherit;
    width: 0%; /* start at 0 */
}


.module-button {
    height: 100px; 
    width: 100%;
    border: 1px solid;
    border-color: black;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
    filter: brightness(1)
}

.module-button:hover{
    filter: brightness(0.5);
}


button[id='The Vacuum of Space'] {
    background-color: #3700b3;
}

button[id='The Planets'] {
    background-color: #bb86fc;
}

button[id='Satellites'] {
    background-color: #03dac6;
}

button[id='The Sun'] {
    background-color: #cf6679;
}

/*--------- Module: The Vacuum of space -------*/

article {
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0rem;
    transition: 0.2s linear;
}

article > h3 {
    filter: brightness(0.5);
}

article > h3:hover {
    filter: brightness(1);
}

article:focus {
    font-size: 1em;
    outline: 0;
}

/*------------ Module: The Planets ------------*/

.planet-image {
    /* width: 100%; */
    height: 300px;
}

#planet-select {
    color: black;
}


.desc {
    display: none;
}

iframe {
    margin-top: 50px;
    width: 100%;
    height: 700px;
    border-color: black;
}

/*--------- Module: The Satellites ---------*/

.sat-tabs {
	display: flex;
	flex-wrap: wrap;
}
.sat-tabs label {
    text-align: center;
	order: 1;
    width: auto;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
    background: #03dac6;
    font-weight: bold;
    word-wrap: normal;
    width: calc(90% * 1 / 3);
}

.sat-tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
	display: none;
    padding: 1rem;
    background: black;
}
.sat-tabs input[type="radio"] {
	display: none;
}
.sat-tabs input[type="radio"]:checked + label {
	background: black;
}
.sat-tabs input[type="radio"]:checked + label + .tab {
	display: block;
}
​

/*--------- Module: The Sun ---------*/

.clear {
    clear: both;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
}
.tabs label {
    text-align: center;
	order: 1;
    width: auto;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
    background: #cf6679;
    font-weight: bold;
    word-wrap: normal;
    width: calc(90% * 1 / 3);
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
	display: none;
    padding: 1rem;
    background: black;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: black;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}


/*------------- Quiz ----------- */

.start-quiz {
    height: 35px; 
    width: auto;
    border: 1px solid;
    border-color: black;
    background-color: #3700b3;
    word-wrap: normal; 
    margin: 0;
    padding: 0;
    border-radius: 12px;
    filter: brightness(1)
}

.start-quiz:hover{
    filter: brightness(0.5);
}



/* .module-button */

.quiz-button {
    height: 75px;
    width: 150px;
    border: 1px solid;
    word-wrap: normal;
    margin: 5px;
    padding: 5px;
    color: black;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.qBtn {
    width: 70px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    filter: brightness(1);
}
.qBtn.unclicked:hover {
    color: #ffffff;
    filter: brightness(0.8);
}
.qBtn.unclicked {
    color: #ffffff;
    background-color: rgb(166, 166, 166);
}
.qBtn.clicked {
    color: #ffffff;
    background-color: #3700b3;
    filter: brightness(1.2);
}
.qBtn.clicked:hover {
    background-color: #3700b3;
    filter: brightness(1);
}

.submitQ {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    filter: brightness(1);
    color: #ffffff;
    background-color: #3700b3;
}
.submitQ:hover {
    color: #ffffff;
    filter: brightness(0.8);
}

.quiz-container {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    background: #121212;
}

.points-container {
    padding: 20px;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.points {
    border-radius: 12px;
    width: 150px;
    text-align: center;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

#timer {
    border-radius: 12px;
    height: 40px;
    width: 150px;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

/*----------------- Result page -------------------*/

.result-container {
    background-color: #121212;
    border-radius: 12px;
    padding: 15px 30px 30px 30px;
}

.result-module {
    background-color: #da8403;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.result-score {
    background-color: #03da15e5;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
}

.restart-button {
    color: #ffffff;
    background-color: #d83030;
    border-radius: 12px;
    padding: 28px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    filter: brightness(1);
    width: 100%;

}

.restart-button:hover {
    filter: brightness(0.8);
}

.result-scoreboard {
    margin-top: 0;
    background-color: #0352da;
    border-radius: 12px;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    
}

.result-table {
    width: 100%;
    font-size: 18px;
    padding: 20px;
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    border-radius: 12px;
}

.result-table th {
    text-align: center;
}

/*----------------- User Profile ------------------ */

.user-table {
    background-color: #121212;
}

.user-table a {
    text-decoration: none;
}

.history-bar {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
}

.chart-container { 
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    padding: 0 1em;
}
  
.horizontal-bar-chart { 
    float: left; 
    width: 100%;
}

.horizontal-bar-chart li { 
    position: relative;
    display: block;  
    height: 2em;
    margin-bottom: .2em;
    background: #ffffff; 
}

.horizontal-bar-chart p { 
    position: relative;
    display: block;  
    _zoom: 1;
    margin: 0 0 .9em 0;
    text-indent: .6em;
}

.horizontal-bar-chart .index { 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    text-indent: .6em;
    font-size: 0.875em;
    font-weight: bold;
    color: black;
    background:  #03dac6;
    line-height: 2.2em;
    text-shadow: 1px 1px 0px #595959;
}

.editprofile-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 310px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    color: black;
    padding-left: 25px;
    background-color: #ffffff;
    border-radius: 12px;
}

/* Divider for each section */
hr.divider  {
	background: #03da15e5;
	border: 0;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2rem;
	width: 100%;
}


/*----------------- Footer style ------------------ */

footer {
    position: fixed;
    font-size: 11px;
    background: black;
    color:grey;
    padding: 3rem 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}