<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- latest IE version, or chrome should be used if it's installed -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- for page's dimension and scaling for different devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- External CSS Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
  <!-- Fake favicon to avoid "GET /favicon.ico HTTP/1.1" 404 - request -->
  <!-- <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Load an icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
    var authenticated = '{{ current_user.is_authenticated }}'
  </script>
  {% block head %}{% endblock %}
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home') }}">Solar System Quiz</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- Nav bar for authenticated user -->
        {% if current_user.is_authenticated %}
        <li><a id="nav_home" href="{{ url_for('home') }}">Home</a></li>
        <li><a id="nav_profile" href="{{ url_for('user_profile', username=current_user.username) }}">{{ current_user.username }} Profile</a></li>
        <li><a id="nav_logout" href="{{ url_for('logout') }}">Sign Out</a></li>
        <!-- Nav bar for anonymous user -->
        {% else %}
        <li><a id="nav_home" href="{{ url_for('home') }}">Home</a></li>
        <li><a id="nav_login" href="{{ url_for('login') }}">Login</a></li>
        <li><a id="nav_register" href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %} <!-- End navbar block -->
  <!-- div for showing score -->
  <div class="points-container">
    <div class="container">
      <div class="points" id="points">
      <div id="timer"></div>
      <p>Scores : <b>0</b></p></div>
    </div>
  </div>
  <!-- Not show score at the moment (will toggle for specific pages)-->
  <script> document.getElementById('points').style.display = 'none'; </script>
  {% block body %}{% endblock %}
  <!-- footer -->
  <footer>
    <p>This web application is part of CITS5505 project 2 <br>
        developed by Doungporn Wiwatanapataphee and Jason Clark.</p>
  </footer>
</body>
</html>