{% extends 'base.html' %} 

{% block head %}
<title>Home | Solar System Quiz</title>

{% endblock %} 

{% block body %}

<!-- Carousel -->
<div id="home_carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home_carousel" data-slide-to="1"></li>
    <li data-target="#home_carousel" data-slide-to="2"></li>
    <li data-target="#home_carousel" data-slide-to="3"></li>
    <li data-target="#home_carousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div id="slides" class="carousel-inner" role="listbox">
    <div class="item active">
      <img
        src="{{ url_for('static', filename='img/solarsystem.jpg') }}"
        alt="Solar System"
      />
      <div class="carousel-caption">
        {% if current_user.is_authenticated %}
        <h3>Welcome, {{ current_user.username }}!</h2>
        {% else %}
        <h3>Welcome to the Solar System!</h3>
        <p>Let's explore the outer space.</p>
        {% endif %}
      </div>
    </div>

    <div class="slide item">
      <img
        src="{{ url_for('static', filename='img/vacuum.jpg') }}"
        alt="Vacuum of Space"
      />
      <div class="carousel-caption">
        <h3>The Vacuum of Space</h3>
        <p>Despite space being a vacuum… Mars is really dusty.</p>
      </div>
    </div>

    <div class="slide item">
      <img
        src="{{ url_for('static', filename='img/theplanets.jpg') }}"
        alt="The Planets"
      />
      <div class="carousel-caption">
        <h3>The Planets</h3>
        <p>Earth to other planets: "You guys have no life!"</p>
      </div>
    </div>

    <div class="slide item">
      <img
        src="{{ url_for('static', filename='img/satellites.jpg') }}"
        alt="Satellites"
      />
      <div class="carousel-caption">
        <h3>Satellites</h3>
        <p>Moon and the machines that orbit it.</p>
      </div>
    </div>

    <div class="slide item">
      <img
        src="{{ url_for('static', filename='img/thesun.jpg') }}"
        alt="The Sun"
      />
      <div class="carousel-caption">
        <h3>The Sun</h3>
        <p>
          Why doesn’t the Sun go to college? – Because it has a 15,000,000
          degrees (celsius).
        </p>
      </div>
    </div>
  </div>

  <!-- Left and right controls for carousel -->
  <a
    class="left carousel-control"
    href="#home_carousel"
    role="button"
    data-slide="prev"
  >
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="right carousel-control"
    href="#home_carousel"
    role="button"
    data-slide="next"
  >
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Welcome messages and about -->
<div class="container" id='main_content'>
  <!-- Home page  -->
    <h3><i class="fa fa-lightbulb-o fa-fw"></i>&nbsp; Our purpose</h3>
    <p>This website is developed as a learning space about the Solar System and 
    quiz to test your knownledge of the vacuum of space, the planets, the satellites, 
    and the Sun!</p>

    <h3><i class="fa fa-space-shuttle fa-fw"></i>&nbsp; Getting Started</h3>
    
  <!-- Authenticated users -->
  {% if current_user.is_authenticated %}
    <!-- Content section -->
    <p>Choose one of the following topics to start the journey!</p>
    <!-- Select a learning module -->
    {% for qset in questionSet %}
    <div class='container-fluid col-xs-3 modules'>
      <button class="module-button" id="{{ qset.name }}" onclick="window.location.href='{{ url_for('learning_module', module=qset.module) }}'">
        {{ qset.name }}
      </button>
    </div>
    {% endfor %}

  <!-- Anonymous users -->
  {% else %}
    <p>Please register or login to our website before beginning the journey!</p>
  {% endif %}
</div>

{% endblock %}
