{% extends "base.html" %}

{% block content %}
  <!-- HOME PAGE FOR GUESTS -->
  {% if current_user.is_anonymous %}
  <h1>Welcome!</h1>

  <!-- INDEX PAGE FOR AUTHENTICATED USERS -->
  {% else %}
  <h1>Hi, {{ current_user.username }}!</h1>
  <p>Let's choose one of the following modules or go directly to quiz!</p>
  
  <!-- Temp Form Placeholder -->
  {% if form %}
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.post.label }}<br>
      {{ form.post(cols=32, rows=4) }}<br>
      {% for error in form.post.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  {% endif %}
  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}
  {% if prev_url %}
  <a href="{{ prev_url }}">Newer posts</a>
  {% endif %}
  {% if next_url %}
  <a href="{{ next_url }}">Older posts</a>
  {% endif %}
  
  <!-- LEARNING MODULES -->

  <!-- QUIZ -->
  {% endif %}
{% endblock %}