<!-- Placed on page (.html) where posts should be displayed-->

{% if form %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
      {{ form.post.label }}<br>
      {{ form.post(cols=32, rows=4) }}<br>
      {% for error in form.post.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endif %}
{% for post in posts %}
  {% include '_post.html' %}
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}

<!-- Placed in /routes where post CAN be made -->

from app.forms import PostForm
from app.models import Post

@app.route('/', methods=['GET', 'POST'])
@app.route('/_____', methods=['GET', 'POST'])
@login_required
def _____():
  page = request.args.get('page', 1, type=int)
  posts = current_user.followed_posts().paginate(
    page, app.config['POSTS_PER_PAGE'], False)    
  form = PostForm()
  if form.validate_on_submit():
# author may need to become user_id (or something to that effect)
    post = Post(body=form.post.data, author=current_user)
    db.session.add(post)
    db.session.commit()
    flash('Your post is now live!')
    next_url = url_for('_____', page=posts.next_num) \
      if posts.has_next else None
    prev_url = url_for('_____', page=posts.prev_num) \
      if posts.has_prev else None
    return render_template('_____.html', title='_____', form=form,
      posts=posts.items, next_url=next_url,
      prev_url=prev_url)